<div class="container-fluid">
  <h1>Films</h1>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Release</th>
            <th>Actor</th>
            <th>commands</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let film of filmList">
            <td>{{ film.id }}</td>
            <td>
              <input [(ngModel)]="film.title" type="text" class="form-control">
            </td>
            <td>
              <input [(ngModel)]="film.release" type="text" class="form-control">
            </td>
            <td>
              <input [(ngModel)]="film.actor" type="text" class="form-control">
            </td>
            <td>
              <div class="btn-group">
                <button class="btn btn-info">update</button>
                <button class="btn btn-danger">delete</button>
              </div>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
